@(verificationUrl: String, token: String, name: String, email: String)
Dear @name,
<br />
<br />
<p>
	You recently signed up for UNE HSC Booster Days 2018 Registration.<br />
	<br />
	Follow this link to <a href="@verificationUrl">activate your account</a> now.
</p>
<br />
<p>
	Regards,<br />
	<i>The UNE HSC Booster Days Team</i>
</p>