@(verificationUrl: String, token: String, name: String, email: String)
Dear @name,
<br />
<br />
<p>
	To verify your e-mail address, <a href="@verificationUrl">now follow this link</a>.
</p>
<br />
<p>
	Regards,<br />
	<i>The UNE HSC Booster Days Team</i>
</p>