@import service.UserService
@(userService: UserService)

@main(userService, Messages("playauthenticate.user.exists.title")) {
	<h1>@Messages("playauthenticate.user.exists.title")</h1>
	<p>@Messages("playauthenticate.user.exists.message")</p>
}
