@import service.UserService
@(userService: UserService)

@main(userService, Messages("playauthenticate.token.error.title")) {
	<h1>@Messages("playauthenticate.token.error.title")</h1>
	<p>@Messages("playauthenticate.token.error.message")</p>
}
