@import service.UserService
@(userService: UserService, emailForm: Form[providers.MyUsernamePasswordAuthProvider.MyIdentity])

@import helper._
@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapBasic.f) }

@main(userService, Messages("playauthenticate.password.forgot.title")) {

	@_titlePartial(Messages("playauthenticate.password.forgot.title"))

	@_panelPartial {
		@form(routes.Signup.doForgotPassword, 'class -> "form-inline", 'role -> "form") {

			@if(emailForm.hasGlobalErrors) {
				<p class="alert alert-danger">
				@emailForm.globalError.message
				</p>
			}

			@_emailPartial(emailForm)

			<button type="submit" class="btn btn-default">@Messages("playauthenticate.password.forgot.cta")</button>
		}
	}
}
