@import service.UserService
@(userService: UserService, resetForm: Form[controllers.Signup.PasswordReset])

@import helper._
@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapBasic.f) }

@main(userService, Messages("playauthenticate.password.reset.title")) {

	@_titlePartial(Messages("playauthenticate.password.reset.title"))

	@_panelPartial {

		@form(routes.Signup.doResetPassword, 'class -> "form-horizontal", 'role -> "form") {

			@if(resetForm.hasGlobalErrors) {

				<p class="alert alert-danger">
				@resetForm.globalError.message
				</p>
			}

			@input(
				resetForm("token"),
				'_label -> "",
				'_showConstraints -> false

			) { (id, name, value, args) =>
				<input type="hidden" value="@value" name="@name" id="@id" @toHtmlArgs(args)>
			}

			@_passwordPartial(resetForm)

			<button type="submit" class="btn btn-default">@Messages("playauthenticate.password.reset.cta")</button>
		}

	}

}
