@import service.UserService
@import play.data.Form

@(userService: UserService, acceptForm: Form[Account.Accept], aUser: com.feth.play.module.pa.user.AuthUser, bUser: com.feth.play.module.pa.user.AuthUser)

@import helper._
@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapBasic.f) }

@label = {
	@Messages("playauthenticate.merge.accounts.question",aUser,bUser)
}

@main(userService, Messages("playauthenticate.merge.accounts.title")) {

	<h1>@Messages("playauthenticate.merge.accounts.title")</h1>
	<p>
	@form(routes.Account.doMerge, 'class -> "form-horizontal", 'role -> "form") {

            @if(acceptForm.hasGlobalErrors) {
		        <p class="alert alert-danger">
		          @acceptForm.globalError.message
		     	</p>
            }

	   @inputRadioGroup(
            acceptForm("accept"),
            options = Seq(
            	"true"-> Messages("playauthenticate.merge.accounts.true"),
            	"false"->Messages("playauthenticate.merge.accounts.false")
            ),
            '_label -> label,
            '_showConstraints -> false
        )

    <button type="submit" class="btn btn-default">@Messages("playauthenticate.merge.accounts.ok")</button>
	}
	</p>
}
