@import service.UserService
@(userService: UserService, playAuth: com.feth.play.module.pa.PlayAuthenticate)

@main(userService, Messages("playauthenticate.link.account.title")) {
    
    <h1>@Messages("playauthenticate.link.account.title")</h1>
    
    <p>
	@_providerPartial(playAuth)
    <br/>
    </p>
}
