/* Fit UNE logo in navbar */
@media only screen and (min-width: 787px) {
    body {
        margin-top: 180px !important;
    }
    .navbar-header, .navbar-brand {
        height: 177px;
    }
    .navbar-brand {
        margin: 0 auto;
        padding: 0;
    }
    .navbar-brand img {
        height: 177px;
        width: 177px;
    }
    #navbar-menu {
        position: relative;
        top: 127px;
        left: 10px;
    }
    #navbar-menu li.active:after {
      content: "";
      position: absolute;
      left: 0;
      bottom: -1px;
      width: 100%;
      border-bottom: 4px solid #FEFEFE;
    }
}
@media only screen and (max-width: 786px) {
    body {
        margin-top: 50px !important;
    }
    .navbar-brand {
        padding: 0;
        margin-left: 15px;
    }
    .navbar-brand img {
        height: 50px;
        width: 50px;
    }
}

/* Global Styles */
body {
  background: #efeeee;
  color: #444;
}
.jumbotron {
  background: #FEFEFE;
}

/* Typography overrides */
h1 {
    font-weight: 400;
}
h2, h3, h4, h5 {
    font-weight: 200;
}

/* New grid type */
@media (max-width: 480px) {
    .col-xxs, .col-xxs-12 {
        display:block;
        float:none;
        width: 100%
    }
    .col-xxs-6 {
        float:left;
        width: 50%
    }
}

/* Sesion Images */
.session img {
    width: 100%;
}
br.no {
    display: block !important;
    margin: 0 auto;
    line-height: 0;
    content: "";
}

/* Buttonset Label Not Bold */
.buttonset label {
    font-weight: normal;
}

/* Set profile icon to stand out */
#navbar-profile a.dropdown-toggle,
#navbar-profile a.dropdown-toggle i{
    color: white;
}

/* Banner */
.jumbotron.override {
    padding: 0;
    padding-bottom: 20px;
    border-radius: 0;
    margin: 0;
    text-align: center;
}
.booster-banner img {
    max-width: 100%;
}
.booster-banner > div {
    padding: 0;
    margin: 0;
}
@media (min-width: 481px) {
    .booster-banner img.pad {
        margin-top: 40px;
        margin-bottom: 20px;
    }
}
@media only screen and (min-width: 787px) {
    .booster-banner {
        position: relative;
        top: -2px;
    }
}

/* Index button margins */
.btn-spacer .btn {
    margin-bottom: 20px;
}

form .error input {
    background-color: #F2DEDE;
    border-color: #EED3D7;
    color: #B94A48;
}

form .error .help-inline {
    color: #B94A48;
}

.providers {
    margin: 5px 0;
    list-style: none;
}

.providers li {
    display: inline;
}

.help-block {
    margin: 0px 0 10px 0;
    font-size: 10px;
}
