@import service.UserService

@(userService: UserService, message: String)

@main(userService, Messages("app.menu.error"), "") {

    @_titlePartial("Oh no!")

    @_panelPartial {

        <h2>Something went wrong.</h2>

        <p>
            @message
        </p>

        <p>
            If you were working on something, go back and try again.  Otherwise, please
            let us know what you were trying to do when the error occured!
        </p>

    }
}
