<div class="row" style="padding-top: 30px;">
    <div class="container">
@if(flash.contains(Application.FLASH_ERROR_KEY) || flash.contains(Application.FLASH_MESSAGE_KEY)) {

        <div class="col-sm-10 col-sm-offset-1">
            @if(flash.contains(Application.FLASH_ERROR_KEY)) {
                <div class="alert alert-danger fade in" role="alert">
                    <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">
                        Close</span></button>
                    @flash().get(Application.FLASH_ERROR_KEY)
                </div>
            }
            @if(flash.contains(Application.FLASH_MESSAGE_KEY)) {
                <div class="alert alert-success fade in" role="alert">
                    <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">
                        Close</span></button>
                    @flash().get(Application.FLASH_MESSAGE_KEY)
                </div>
            }
        </div>
}
    </div>
</div>