@(left: Html)(implicit right: Html = null)
<div class="container">
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-header">
            </div>
            <div class="panel-body" style="padding-top: 60px;
                padding-bottom: 120px;">
                <div class="row">
                    <div class="container">
                        @if(right != null) {
                            <div class="col-md-4 pull-right" style="z-index: 100;
                                margin-bottom: 50px;">
                            @right
                            </div>
                        }
                    <div class="col-md-8 clearfix">
                    @left
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
