@(sessions: List[models.Session], editable: Boolean = false)

@defining(
    sessions.map(x => x)
            .filter(x => x.timeslot != null && x.timeslot.code != null)
            .groupBy(x => x.timeslot)
            .toSeq
            .sortBy(x => x._1.startTime)
) { groups =>

    @for(group <- groups) {

        <h3>
            @group._1.name
        </h3>

        <table class="table table-condensed">
            <thead>
                <th class="col-md-3">@Messages("app.sessions.table.header.sessionName")</th>
                <th class="col-md-4">@Messages("app.sessions.table.header.location")</th>
                <th class="col-md-2">@Messages("app.sessions.table.header.room")</th>
                <th class="col-md-1">@Messages("app.sessions.table.header.capacity")</th>
                @if(editable) {
                    <td class="col-md-1"></th>
                    <td class="col-md-1"></th>
                }
            </thead>
            <tbody>

            @for(session <- group._2
                    .filter(x => x != null)
                    .sortBy(x => x.name)) {

                <tr>
                    <td class="col-md-3">
                        @session.name
                    </td>
                    <td class="col-md-4">
                        @session.description
                    </td>
                    <td class="col-md-2">
                        @session.location
                    </td>
                    <td class="col-md-1">
                        @session.students.size() / @session.capacity
                    </td>

                    @if(editable) {
                        <td class="col-md-1">
                            <a class="" href="@routes.Session.update(session.id)">
                                <i class="glyphicon glyphicon-edit"></i> <!--Edit-->
                            </a>
                        </td>
                        <td class="col-md-1">
                            <a class="" href="@controllers.routes.Session.delete(session.id)">
                                <i class="glyphicon glyphicon-trash"></i> <!--Delete-->
                            </a>
                        </td>
                    }

                </tr>

            }
            </tbody>
        </table>

    }
}