@(implicit action: play.mvc.Call = routes.Application.index())

<div class="row btn-spacer">
    <div class="col-xs-0 col-sm-4 col-md-4 col-lg-4">
                </div>
    <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4">
        <button type="submit" class="btn btn-success btn-block">
        @Messages("app.common.save")
        </button>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4">
        <a class="btn btn-default btn-block" href="@action">
        @Messages("app.common.cancel")
        </a>
    </div>
</div>