@(title: String)
<div class="row" style="background: #FEFEFE">
    <div class="container">
        <div class="col-xs-12 col-sm-6 col-md-8">
            <h1 style="padding-top: 20px;">@title</h1>
        </div>
    </div>
    <hr style="border-color: transparent;"/>
</div>

@_flashPartial()
