@import service.UserService

@(userService: UserService)

@main(userService, Messages("app.menu.contact"), "contact") {

    @_titlePartial(Messages("app.contact.title"))

    @_panelPartial {
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>Sally Strelitz</h4>
            </div>
            <div class="panel-body">
                <dl class="row">
                    <dt class="col-xs-1">
                        <i class="glyphicon glyphicon-envelope"></i>
                    </dt>
                    <dd class="col-xs-11">
                        <a href="mailto:sally.strelitz@@une.edu.au">
                            sally.strelitz@@une.edu.au
                        </a>
                    </dd>
                    <dt class="col-xs-1">
                        <i class="glyphicon glyphicon-phone-alt"></i>
                    </dt>
                    <dd class="col-xs-11">
                        <a href="tel:0267731249">
                            02 6773 1249
                        </a>
                    </dd>
                    <dt class="col-xs-1">
                        <i class="glyphicon glyphicon-phone" aria-hidden="true"></i>
                    </dt>
                    <dd class="col-xs-11">
                        <a href="tel:0475982666">
                            0475 982 666
                        </a>
                    </dd>
                </dl>
            </div>
        </div>
    }
}
