@import service.UserService

@(userService: UserService)

@main(userService, Messages("app.menu.dashboard"), "dashboard") {

    <style scoped>
        .dash-container {
            display: flex;
            text-align: center;
        }
        .dash-pane {
            padding: 14px;
            border-bottom: 1px dotted black;
        }
        .dash-pane-value {
            font-size: 42px;
            font-weight: 500;
            height: 44px;
            line-height: 43px;
            text-align: left;
            width: 100px;
        }
        .dash-pane-label,
        .dash-pane-sublabel
        {
            font-size: 14px;
            height: 16px;
            line-height: 15px;
            text-align: left;
            width: 100px;
        }
        .dash-pane-sublabel {
            font-size: 10px;
        }
    </style>
    <div id="react-mount"></div>

} {
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script src="@routes.Assets.versioned("javascripts/report.js")" defer></script>
}
