@import models.Session
@import service.UserService

@(userService: UserService, session: Session)

@import helper._
@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapBasic.f) }

@main(userService, Messages("app.title"), "sessions") {

    @_titlePartial(Messages("app.session.delete.title"))

    @_panelPartial {

    <div class="panel panel-warning">
        <div class="panel-heading">
            Confirm Delete Session
        </div>
        <div class="panel-body">
            <p>
                Are you sure you want to delete this session?
            </p>
            <dl class="row">
                <dt class="col-md-4">Name</dt>
                <dd class="col-md-8">@session.name</dd>
                <dt class="col-md-4">Location</dt>
                <dd class="col-md-8">@session.location</dd>
                <dt class="col-md-4">Capacity</dt>
                <dd class="col-md-8">@(session.capacity - session.students.size()) / @session.capacity</dd>
                <dt class="col-md-4">Date</dt>
                <dd class="col-md-8">
                    @session.timeslot.startTime - @session.timeslot.endTime
                </dd>
                <dt class="col-md-4">Description</dt>
                <dd class="col-md-8">
                    @session.description
                </dd>
            </dl>

            <div class="row">
                <div class="col-md-12">
                    <div class="btn-toolbar pull-right">
                        <div class="btn-group">
                            @form(action = routes.Session.doDelete(session.id)) {
                                <button class="btn btn-danger" type="submit">Yes, Delete</button>
                            }
                        </div>
                        <div class="btn-group">
                            <a class="btn btn-default" href="@controllers.routes.Students.index()">No, Cancel</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    }

}


