@import models.Student
@import service.UserService

@(userService: UserService, student: Student)

@import helper._
@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapBasic.f) }

@main(userService, Messages("app.title"), "students") {

    @_titlePartial(Messages("app.student.delete.title"))
    @_panelPartial {

    <div class="panel panel-warning">
        <div class="panel-heading">
            Confirm Delete Student
        </div>
        <div class="panel-body">
            <p>
                Are you sure you want to delete this student?
            </p>
            <dl class="row">
                <dt class="col-md-4">Name</dt>
                <dd class="col-md-8">@student.name</dd>
                <dt class="col-md-4">Sessions</dt>
                <dd class="col-md-8">
                    <ul>
                        @for(session <- student.sessions) {
                            <li>@session.name</li>
                        }
                    </ul>
                </dd>
            </dl>

            <div class="row">
                <div class="col-md-12">
                    <div class="btn-toolbar pull-right">
                        <div class="btn-group">
                            @form(action = routes.Student.doDelete(student.id)) {
                                <button class="btn btn-danger" type="submit">Yes, Delete</button>
                            }
                        </div>
                        <div class="btn-group">
                            <a class="btn btn-default" href="@controllers.routes.Students.index()">No, Cancel</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    }

}


