@import service.UserService

@(userService: UserService, sessions: List[models.Session])

    @main(userService, Messages("app.index.title")) {

        <div class="container">
            <h1>Welcome</h1>
            <p>Welcome to the 2019 UNE HSC Booster Days. This year we have revamped the sessions offered to align with the new curriculum. Whilst doing this we also connected our academics that are delivering the sessions with teachers to ensure that the sessions offered are relevant and engaging. We have taken your feedback into consideration and this year we will be starting the second day at 8am and finishing at 2pm so that you can begin to make your journey home. Some of our sessions will be two hours long so that the students can get more in-depth knowledge of the topic.</p>
            <p>Please have a look at the timetable under 'about' so that you can clarify which subjects you are registering your students for and how long those sessions will go for.</p>
            <br />
            <p>We look forward to seeing you on Monday and/or Tuesday June 3rd and 4th.</p>
            <hr />
            <h1>Instructions</h1>
            <div class="row" style="margin-bottom: 20px;">
                <div class="col-xs-12 col-sm-4">
                    <h3>1. Sign Up</h3>
                    <p>
                        <a href="@routes.Application.signup()">Sign up</a> to
                        and check your email to confirm your login.  Once you
                        have received the confirmation email click the link provided
                        to finish registration.
                    </p>
                    @*<div class="row">*@

                    @*<a class="btn btn-default col-md-6 col-sm-12" href="@routes.Application.signup()">*@
                    @*Sign Up*@
                    @*</a>*@


                    @*<a class="btn btn-default col-md-6 col-sm-12" href="@routes.Application.login()">*@
                    @*Login*@
                    @*</a>*@

                    @*</div>*@
                    @*<p>*@
                    @*Before registering students, you will need to provide the details*@
                    @*of your school. You can do this by clicking the*@
                    @*'<a href="@routes.School.update()">School</a>' tab once logged in.*@
                    @*</p>*@
                </div>
                <div class="col-xs-12 col-sm-4">
                    <h3>2. Student List</h3>
                    <p>
                        Download the <a href="@routes.Assets.versioned("docs/UNE_HSCBD_Student_Uploader.xlsx")">
                        student list</a> template and add the details for all students that
                        you wish to register for the booster days sessions.
                    </p>
                    <p>
                        Once you have completed the student list template, click the
                        '<a href="@routes.Students.index()">Students</a>' tab and use the
                        file browser to upload your file.
                    </p>
                    @*<p>*@
                    @*If you need to update the student list for any reason, you can do so*@
                    @*under the '<a href="@routes.Students.index()">Students</a>' tab.*@
                    @*</p>*@
                </div>
                <div class="col-xs-12 col-sm-4">
                    <h3>3. Register</h3>
                    <p>
                        Under the '<a href="@routes.Register.index()">register</a>' tab, use the
                        drag and drop interface to register your students for the booster
                        days sessions.  Once you have finished, you can use the 'export PDF'
                        function to get your personalized time table.
                    </p>
                </div>
            </div>
        </div>

        <div class="container" style="background: white;">
            <h1>Timetable</h1>
            @_sessionsPartial(sessions)
        </div>

        <div style="height: 100px;">

        </div>

    }
