@import play.data.Form
@import service.UserService

@(playAuth: com.feth.play.module.pa.PlayAuthenticate, userService: UserService, loginForm: Form[_])

@import helper._
@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapBasic.f) }

@main(userService, Messages("playauthenticate.login.title"),"login") {

    @_titlePartial(Messages("playauthenticate.login.title"))
    @_panelPartial {
        @helper.form(routes.Application.doLogin, 'class -> "form-horizontal", 'role -> "form") {

            @if(loginForm.hasGlobalErrors) {
                <p class="alert alert-danger">
                @loginForm.globalError.message
                </p>
            }

            @_emailPartial(loginForm)

            @inputPassword(
                loginForm("password"),
                '_showConstraints -> false,
                '_label -> Messages("playauthenticate.login.password.placeholder")
            )

            <div class="form-group">
                <div class="col-sm-4 pull-right">
                    <button type="submit" class="btn btn-success btn-block pull-right">@Messages("playauthenticate.login.now")</button>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-4 pull-right" style="text-align: right;">
                    <a href="@controllers.routes.Signup.forgotPassword()">@Messages("playauthenticate.login.forgot.password")</a>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-4 pull-right" style="text-align: right;">
                    <a href="@controllers.routes.Application.signup()">@Messages("playauthenticate.navigation.createaccount")</a>
                </div>
            </div>

        }
    }

}

