@import service.UserService
@(playAuth: com.feth.play.module.pa.PlayAuthenticate, userService: UserService, localUser: models.User = null)

@import com.feth.play.module.pa.views.html._

@main(userService, Messages("playauthenticate.profile.title"),"profile") {

    @_titlePartial(Messages("playauthenticate.profile.title"))

    @_panelPartial {

        Your name is @localUser.name and your email address is @if(!localUser.email) {<em>&lt;unknown&gt;</em>.} else {
            @localUser.email.
        }
        <br />
        @if(localUser.firstName && localUser.lastName) {
            Your first name is @localUser.firstName and your last name is @localUser.lastName
            <br/>
        }

            <!-- TODO: Student numbers etc -->
            <!-- TODO: Delegates -->

        <ul>
            <li><a href="@routes.Account.changePassword">@Messages("playauthenticate.profile.password_change")</a></li>
        </ul>

    }

}
