@import service.UserService
@(userService: UserService, sessions: List[models.Session], students: List[models.Student])

@import helper._
@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapBasic.f) }

@main(userService, Messages("app.register"), "register") {

    <div id="react-mount" style="padding-top: 50px"></div>

    <noscript>
        <div class="row" style="padding-top: 30px;">
            <div class="container">
                <div class="col-sm-10 col-sm-offset-1">
                    <div class="alert alert-danger fade in" role="alert">
                        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">
                            Close</span></button>
                        You must enable JavaScript to use this page.
                    </div>
                </div>
            </div>
        </div>
    </noscript>

} {
    <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/dragula.min.css")" />
    <script src="@routes.Assets.versioned("javascripts/dragula.min.js")"></script>
    <script src="@routes.Assets.versioned("javascripts/register.js")" defer></script>
}

