@import service.UserService
@import models.Session

@(userService: UserService, sessions: List[Session])

    @import helper._
    @implicitFieldConstructor = @{
        FieldConstructor(twitterBootstrapBasic.f)
    }

    @main(userService, Messages("app.title"), "sessions") {

        @_titlePartial(Messages("app.sessions.title"))

        @_panelPartial {

            <a class="btn btn-primary pull-right" href="@controllers.routes.Session.create()">
                <i class="glyphicon glyphicon-plus"></i> Add Session
            </a>

            @_sessionsPartial(sessions, true)

        } {

            <div class="panel panel-default uploader">
                <div class="panel-heading">
                    Session List Uploader
                </div>
                <div class="panel-body">
                @form(action = routes.Sessions.doUpload, 'enctype -> "multipart/form-data") {
                    <p>
                        Upload a Microsoft Excel file to import all sessions
                        from the first column of the first sheet.
                    </p>
                    <p>
                <ol>
                    <li>Click 'Browse'.</li>
                    <li>Select your Excel file</li>
                    <li>Click 'Upload'</li>
                </ol>
                    </p>
                    <p class="form-group">
                <div class="input-group">
                    <label class="input-group-btn">
                        <span class="btn btn-default">
                            Browse… <input id="fileinput" name="excel" type="file" style="display: none;">
                        </span>
                    </label>
                    <input id="filename" type="text" class="form-control" readonly="">
                </div>
                    <span class="help-block">Note: All duplicate session name/time pairs will be ignored.</span>
                    </p>
                    <p class="form-group">
                        <button id="upload" class="btn btn-success pull-right" type="submit"><i class="glyphicon glyphicon-upload"></i>
                            Upload</button>
                    </p>
                    <script>
                            $(document).ready(function () {
                                $('#fileinput').change(function () {
                                    var path = $(this).val();
                                    var filename = path.replace(/^.*\\/, "");
                                    $('#upload').removeAttr('disabled');
                                    $("#filename").val(filename);
                                });
                                $("#upload").click(function(e) {
                                    setTimeout(function() {
                                        $('#upload').attr('disabled', true);
                                    }, 1);
                                });
                            });
                    </script>
                }
                </div>
            </div>
        }

    }
