@import service.UserService
@import play.data.Form
@(playAuth: com.feth.play.module.pa.PlayAuthenticate, userService: UserService, signupForm: Form[_])

@import helper._
@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapBasic.f) }

@main(userService, Messages("app.signup.title"),"signup") {

  @_titlePartial(Messages("app.signup.title"))

  @_panelPartial {
      @helper.form(routes.Application.doSignup, 'class -> "form-horizontal", 'role -> "form") {

          @if(signupForm.hasGlobalErrors) {
              <p class="alert alert-danger">
              @signupForm.globalError.message
              </p>
          }

          @inputText(
              signupForm("name"),
              '_label -> Messages("app.signup.name")
          )

          @_emailPartial(signupForm)

          @_passwordPartial(signupForm)

          <div class="form-group">
              <div class="col-sm-4 pull-right">
                  <button type="submit" class="btn btn-success btn-block pull-right">@Messages("app.common.submit")</button>
              </div>
          </div>
      }
  }

}
