@import service.UserService
@(userService: UserService, students: List[models.Student])

    @import helper._
    @implicitFieldConstructor = @{
        FieldConstructor(twitterBootstrapBasic.f)
    }

    @main(userService, Messages("app.title"), "students") {

        @_titlePartial(Messages("app.students.title"))

        @_panelPartial {

            <div class="row">
                <div class="col-sm-12">
                    <div class="btn-toolbar">
                        <a target="_blank" class="pull-left btn btn-default" href="@routes.Assets.versioned("docs/material-release-form.pdf")">
                            Download material release form</a>
                        <a class="btn btn-primary pull-right" href="@controllers.routes.Student.create()">
                            <i class="glyphicon glyphicon-plus"></i> Add Student
                        </a>
                        <a class="btn btn-primary pull-right" href="@controllers.routes.Student.createTeacher()">
                            <i class="glyphicon glyphicon-plus"></i> Add Staff Member
                        </a>
                        <button id="export" class="btn btn-default pull-right">Export PDF</button>
                    </div>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-sm-12">
                    <table id="table" class="table table-no-bordered" data-toggle="table">
                        <thead>
                            <th>@Messages("app.students.table.header.studentName")</th>
                            <th>@Messages("app.students.table.header.sessions")</th>
                            <th></th>
                            <th></th>
                        </thead>
                        <style scoped>
                            tbody#students td br {
                                content: ""
                            }
                        </style>
                        <tbody id="students">@for(student <- students) {<tr><td><p>@student.name</p>@if(student.isTeacher){<p>Staff Member</p>}</td>
                                <td>@for(session <- student.sessions) {<p>@session.timeslot.name : @session.name</p><br><br>}</td>
                                <td>
                                    <a class="" href="@routes.Student.update(student.id)">
                                        <i class="glyphicon glyphicon-edit"></i> <!--Edit-->
                                    </a>
                                </td>
                                <td>
                                    @if(!student.isTeacher) {
                                        <a class="" href="@routes.Student.delete(student.id)">
                                            <i class="glyphicon glyphicon-trash"></i> <!--Delete-->
                                        </a>
                                    }
                                </td></tr>}
                        </tbody>
                    </table>
                </div>
            </div>

        } {
            <div class="panel panel-default uploader">
                <div class="panel-heading">
                    Student Class List Uploader
                </div>

                <div class="panel-body">
                @form(action = routes.Students.doUpload, 'enctype -> "multipart/form-data") {
                    <p>
                        Upload a Microsoft Excel file to import all <strong style="text-transform: uppercase">student</strong> names
                        from the first column of the first sheet.
                    </p>
                    <p>
                        <ol>
                            <li><a href="@routes.Assets.versioned("docs/UNE_HSCBD_Student_Uploader.xlsx")">
                                Download the template</a>.</li>
                            <li>Fill out and save the Excel sheet.</li>
                            <li>Click 'Browse' on this page.</li>
                            <li>Select your Excel file to upload.</li>
                            <li>Click 'Upload'.</li>
                        </ol>
                    </p>
                    <p class="form-group">
                        <div class="input-group">
                            <label class="input-group-btn">
                                <span class="btn btn-default">
                                    Browse… <input id="fileinput" name="excel" type="file" style="display: none;">
                                </span>
                            </label>
                            <input id="filename" type="text" class="form-control" readonly="">
                        </div>
                        <span class="help-block">Note: All duplicate student names will be ignored.</span>
                    </p>
                    <p class="form-group">
                        <button id="upload" class="btn btn-success pull-right" disabled type="submit"><i class="glyphicon glyphicon-upload"></i>
                            Upload</button>
                    </p>
                    <script>
                            $(document).ready(function () {
                                $('#fileinput').change(function () {
                                    var path = $(this).val();
                                    var filename = path.replace(/^.*\\/, "");
                                    $('#upload').removeAttr('disabled');
                                    $("#filename").val(filename);
                                });
                                $("#upload").click(function (e) {
                                    setTimeout(function () {
                                        $('#upload').attr('disabled', true);
                                    }, 1);
                                });
                            });
                    </script>
                }
                </div>
            </div>
        }

    } {

        <script src="@routes.Assets.versioned("javascripts/bootstrap-table.min.js")"></script>
        <script src="@routes.Assets.versioned("javascripts/bootstrap-table-export.min.js")"></script>
        <script src="@routes.Assets.versioned("javascripts/FileSaver.min.js")"></script>
        <script src="@routes.Assets.versioned("javascripts/xlsx.core.min.js")"></script>
        <script src="@routes.Assets.versioned("javascripts/jspdf.min.js")"></script>
        <script src="@routes.Assets.versioned("javascripts/jspdf.plugin.autotable.js")"></script>
        <script src="@routes.Assets.versioned("javascripts/tableExport.js")"></script>
        <script type="text/javascript">
            $(document).on('ready', function() {
                $('#export').on('click', function () {
                    $('#table').tableExport({
                        type: 'pdf',
                        fileName: 'une_hscbd_2018_registration_table',
//                        escape: false,
                        htmlContent: true,
//                        onCellData: function(cell, r, c, result) {
//                            console.log(cell);
//                            return result;
//                        },
                        ignoreColumn: [2, 3],
                       // ignoreRow: [1],
                        jspdf: {
                            autotable: {
                                styles: {
//                                  overflow: 'visible',
                                    valign: 'top',
                                    halign: 'left'
                                },
                                drawRow: function (row, data) {
                                    var cella = $('table tbody tr:nth-child(' + (row.index+1) + ') td:nth-child(2)');
                                    row.height += Math.max(0, (row.styles.fontSize) * (cella.html().split('<br').length - 2));
                                },
//                                createdCell: function(cell, data) {
//                                    console.log(cell);
//                                }
                            }
                        }
                    });
                })
            });
        </script>

        <link href="@routes.Assets.versioned("stylesheets/bootstrap-table.css")" rel="stylesheet">

    }
