@import service.UserService

@(userService: UserService)

@main(userService, Messages("app.menu.summaries"), "summaries") {

@_titlePartial(Messages("app.summaries.title"))

@_panelPartial {
<div class=WordSection1>

        <p class=MsoNormal align=center style='text-align:center'><b><u><span
                                        style='font-size:16.0pt;line-height:107%'>2019 HSC Booster Days Session
                                        Summaries:</span></u></b></p>

        <p class=MsoNormal><span style='font-size:5.0pt;line-height:107%'>&nbsp;</span></p>

        <p class=MsoNormal><b><span style='font-size:16.0pt;line-height:107%;
                color:#231F20'>Biology - Infection and Immunology</span></b><span
                        style='font-size:16.0pt;line-height:107%;color:#1F497D'>: </span></p>

        <p class=MsoNormal><span style='color:#1F497D'>Dr Richard Charlesworth</span></p>

        <p class=MsoNormal><span style='color:#1F497D'>This session will introduce
                        students to infection and immunology. In the session, students will examine a
                        variety of bacteria, fungi and parasites which may pose a risk to health.
                        Students will then put their investigation skills to the test to diagnose a microbial
                        disease in a small case study. Finally, students will look at the defensive
                        network of the body – the immune system, by staining human blood and examining
                        it under the microscope. </span></p>

        <p class=MsoNormal><span style='font-size:1.0pt;line-height:107%;color:#1F497D'>&nbsp;</span></p>

        <p class=MsoNormal><b><span style='font-size:16.0pt;line-height:107%;
                color:#231F20'>Biology – Genetic Change &amp; Biotechnology </span></b></p>

        <p class=MsoNormal><span style='color:#1F497D'>Dr Mary McMillan</span></p>

        <p class=MsoNormal><span style='color:#1F497D'>Almost every cell of the human
                        body contains DNA – the instructions required for life. Although we are all
                        different, about 99.9% of our DNA is the same as other people. The remaining
                        0.1% of our DNA is what makes each of us unique. This 0.1% of our DNA contains
                        multiple changes, or variations. These variations are the reason why we each
                        look different, and why some people have certain genetic disorders, while
                        others don’t. This 0.1% of our DNA can also be used to create a DNA fingerprint
                        that is unique to us an individuals.</span></p>

        <p class=MsoNormal><span style='color:#1F497D'>In this session, focusing on
                        Modules 5 and 6 of the year 12 biology curriculum, students will explore
                        genetic variation, and the types of changes that can occur within DNA. They’ll
                        gain a greater understanding of how this genetic variation arises, how we can
                        inherit some genetic variants from our parents, and the impact that genetic
                        changes can have on the way we look or function. They will also explore how we
                        can use biotechnology to analyse changes and variations within DNA, and explore
                        some of the tools we can use to manipulate DNA.</span></p>

        <p class=MsoNormal><span style='color:#1F497D'>In this session students take on
                        the role of forensic investigator, tasked with solving a crime. They will
                        collect DNA evidence and use genetic technology to link those samples back to
                        suspects. By understanding the structure of DNA, and variations that occur
                        between individuals, they will be able to carry out DNA fingerprinting using a
                        variety of biotechnology techniques. They will gain experience in analysing the
                        data collected to draw conclusions, as well as experiencing what life is like
                        working in a DNA laboratory.  </span></p>

        <p class=MsoNormal><span style='font-size:1.0pt;line-height:107%;color:#1F497D'>&nbsp;</span></p>

        <p class=MsoNormal><b><span style='font-size:16.0pt;line-height:107%;
                color:#231F20'>RACI Titration Competition – Acid/Base Quantitative Analysis: </span></b></p>

        <p class=MsoNormal><span style='color:#1F497D'>Dr Siew Chong</span></p>

        <p class=MsoNormal style='margin-bottom:0cm;margin-bottom:.0001pt'><span style='color:#1F497D'>This activity
                        relates directly to the quantitative
                        analysis of acid and base solutions found in Module 6 of the Stage 6 Chemistry
                        Syllabus. This is a competitive activity run in conjunction with the NSW Branch
                        of the Royal Australian Chemical Institute (RACI). As such this activity
                        requires students to pre-register and pay a fee via the following website prior
                        to the event, </span><a
                        href="http://www.nswtitration.com/Home.html">http://www.nswtitration.com/Home.html</a><span
                        style='color:#1F497D'>. </span></p>

        <p class=MsoNormal><span style='font-size:5.0pt;line-height:107%'>&nbsp;</span></p>

        <p class=MsoNormal><b><span style='font-size:16.0pt;line-height:107%;
                color:#231F20'>&nbsp;</span></b></p>

        <p class=MsoNormal><b><span style='font-size:16.0pt;line-height:107%;
                color:#231F20'>Analysis of Inorganic Substances</span></b></p>

        <p class=MsoNormal><span style='color:#1F4E79'> Dr Jeff Kirkland</span></p>

        <p class=MsoNormal><span style='color:#1F4E79'>This activity relates directly
                        to Module 8 of the Stage 6 Chemistry Syllabus. In this activity students will
                        complete the following qualitative/quantitative analysis of: 1. The amount of
                        sulfate (SO4 2</span><span style='font-family:Symbol;color:#1F4E79'>-</span><span
                        style='color:#1F4E79'> ) in a solution of Epsom Salts, and the ratio of sulfate
                        to magnesium in the salt sample, using a precipitation titration. 2. The
                        analysis of iron (III) (Fe3+ ) in a natural water sample using
                        ultraviolet-visible (UVVis) spectrophotometry. 3. The analysis of lead (Pb2+)
                        in paint samples using Atomic Absorption Spectroscopy (AAS).</span></p>

        <p class=MsoNormal><span style='font-size:5.0pt;line-height:107%;color:#1F4E79'>&nbsp;</span></p>

        <p class=MsoNormal><b><span style='font-size:16.0pt;line-height:107%;
                color:#231F20'>Analysis of Organic Substances</span></b></p>

        <p class=MsoNormal><span style='color:#1F4E79'>Dr Adam Rosser </span></p>

        <p class=MsoNormal><span style='color:#1F4E79'>This activity relates directly
                        to Module 8 of the Stage 6 Chemistry Syllabus. Students will learn how to
                        characterise simple organic compounds through the analysis and interpretation
                        of spectra obtained from Infrared (IR), Proton (1H), Carbon (13C) Nuclear
                        Magnetic Resonance (NMR) and Mass Spectroscopy and see the instruments
                        first-hand.</span></p>

        <p class=MsoNormal><span style='font-size:5.0pt;line-height:107%;color:#1F4E79'>&nbsp;</span></p>

        <p class=MsoNormal><b><span style='font-size:16.0pt;line-height:107%;
                color:#231F20'>Agriculture: Reproductive Technologies</span></b></p>

        <p class=MsoNormal><span style='color:#1F4E79'>Dr Peta Taylor</span></p>

        <p class=MsoNormal><span style='color:#1F4E79'>This session we explore some of
                        the techniques associated with reproductive technologies, specifically IVF.
                        With non-human animals, IVF technology is more commonly used for research
                        purposes to understand early developmental events as opposed to being used in
                        commercial practices, although can be used for elite performance animals (e.g.
                        horses) following oocyte aspiration. We will aspirate follicles and
                        subsequently collect oocytes from sheep ovaries, predicting the expected
                        collection rate in light of age, stage of reproductive cycle, season, nutrition
                        and welfare. Additionally, we will monitor sperm motility and consider the
                        variables that may impact sperm quantity and quality.</span></p>

        <p class=MsoNormal><span style='color:#1F4E79'>&nbsp;</span></p>

        <p class=MsoNormal><b><span style='font-size:16.0pt;line-height:107%;
                color:#231F20'>Agriculture: Soil Science  </span></b></p>

        <p class=MsoNormal><span style='color:#1F4E79'>Dr Oliver Knox </span></p>

        <p class=MsoNormal><span style='color:#1F4E79'>This activity will enable
                        students to measure soil biological activity and compare it to their own. It
                        will also present an opportunity to examine the Mesofaunal life of soils using
                        microscopes and having undertaken crude organism recoveries. This will be
                        achieved using indicator plates that react to CO2 and examining nematode
                        recoveries from freshly collected soil. The activities will touch upon
                        biological diversity, data generation and discussion, resource importance,
                        human impact and climate science. In doing so aspects of module 3 in stage 6
                        Biology and Science Extension as well as modules 4, 5 and 7 of Earth and
                        Environmental Science will be related to.    </span></p>

        <p class=MsoNormal><span style='color:#1F4E79'>&nbsp;</span></p>

        <p class=MsoNormal><span style='color:#1F4E79'>&nbsp;</span></p>

        <p class=MsoNormal><b><span style='font-size:16.0pt;line-height:107%'>PDHPE</span></b></p>

        <p class=MsoNormal><span style='color:#1F4E79'>Mr Stephen Goodman</span></p>

        <p class=MsoNormal><span style='color:#1F4E79'>HSC booster session allows
                        students to step inside the UNE sports science lab for a hands on, immersive
                        experience. All students get the chance to take part in a number of physical
                        assessments that focus on translating theory into practice. The key focus of
                        this session is upon factors affecting human performance and methods of
                        performance improvement.</span></p>

        <p class=MsoNormal><span style='font-size:1.0pt;line-height:107%;color:#1F4E79'>&nbsp;</span></p>

        <p class=MsoNormal><b><span style='font-size:16.0pt;line-height:107%'>Mathematics
                                Standard </span></b></p>

        <p class=MsoNormal><span style='color:#1F4E79'>Session summary coming. </span></p>

        <p class=MsoNormal><span style='font-size:1.0pt;line-height:107%;color:#1F4E79'>&nbsp;</span></p>

        <p class=MsoNormal><b><span style='font-size:16.0pt;line-height:107%'>Mathematics
                                and Extension Mathematics</span></b></p>

        <p class=MsoNormal><span style='color:#1F4E79'>Session summary coming. </span></p>

        <p class=MsoNormal><b><span style='font-size:1.0pt;line-height:107%'>&nbsp;</span></b></p>

        <p class=MsoNormal><b><span style='font-size:16.0pt;line-height:107%'>Physics</span></b></p>

        <p class=MsoNormal><span style='color:#1F4E79'>Session summary coming. </span></p>

        <p class=MsoNormal><span style='font-size:1.0pt;line-height:107%;color:#1F4E79'>&nbsp;</span></p>

        <p class=MsoNormal><b><span style='font-size:16.0pt;line-height:107%'>Earth
                                &amp; Environmental Science</span></b></p>

        <p class=MsoNormal><span style='color:#1F4E79'>Session summary coming. </span></p>

        <p class=MsoNormal><b><span style='font-size:16.0pt;line-height:107%'>&nbsp;</span></b></p>

        <p class=MsoNormal><b><span style='font-size:16.0pt;line-height:107%'>&nbsp;</span></b></p>

        <p class=MsoNormal><b><span style='font-size:16.0pt;line-height:107%'>&nbsp;</span></b></p>

        <p class=MsoNormal><span style='color:#1F4E79'>&nbsp;</span></p>

</div>

} {

}
} {
<script>
        (function (document, history, location) {
                var HISTORY_SUPPORT = !!(history && history.pushState);

                var anchorScrolls = {
                        ANCHOR_REGEX: /^#[^ ]+$/,
                        OFFSET_HEIGHT_PX: 180,

                        init: function () {
                                this.scrollToCurrent();
                                window.addEventListener('hashchange', this.scrollToCurrent.bind(this));
                                document.body.addEventListener('click', this.delegateAnchors.bind(this));
                        },

                        getFixedOffset: function () {
                                return this.OFFSET_HEIGHT_PX;
                        },

                        scrollIfAnchor: function (href, pushToHistory) {
                                var match, rect, anchorOffset;

                                if (!this.ANCHOR_REGEX.test(href)) {
                                        return false;
                                }

                                match = document.getElementById(href.slice(1));

                                if (match) {
                                        rect = match.getBoundingClientRect();
                                        anchorOffset = window.pageYOffset + rect.top - this.getFixedOffset();
                                        window.scrollTo(window.pageXOffset, anchorOffset);

                                        // Add the state to history as-per normal anchor links
                                        if (HISTORY_SUPPORT && pushToHistory) {
                                                history.pushState({}, document.title, location.pathname + href);
                                        }
                                }

                                return !!match;
                        },

                        /**
                         * Attempt to scroll to the current location's hash.
                         */
                        scrollToCurrent: function () {
                                this.scrollIfAnchor(window.location.hash);
                        },

                        /**
                         * If the click event's target was an anchor, fix the scroll position.
                         */
                        delegateAnchors: function (e) {
                                var elem = e.target;

                                if (
                                        elem.nodeName === 'A' &&
                                        this.scrollIfAnchor(elem.getAttribute('href'), true)
                                ) {
                                        e.preventDefault();
                                }
                        }
                };

                window.addEventListener(
                        'DOMContentLoaded', anchorScrolls.init.bind(anchorScrolls)
                );
        })(window.document, window.history, window.location);
</script>

}