@(elements: helper.FieldElements)
<div class="form-group @if(elements.hasErrors) {has-error}">
    <div class="row">
        <label for="@elements.id" class="control-label @elements.args.toMap.get('labelDivClass).getOrElse("col-xs-4")">@elements.args.toMap.get('label2).getOrElse(elements.label)</label>

        @if(elements.args.toMap.get('inputFormGroup).getOrElse(true) == false) {

                <div class="@elements.args.toMap.get('inputDivClass).getOrElse("col-xs-8")" style="padding-top: 6px;">

                <style scoped>

                    /*.buttonset label,*/
                    /*span:not(.buttonset) {*/
                        /*padding-left: 18px;*/
                    /*}*/

                </style>

                @if(elements.args.toMap.get('stack).getOrElse(false) == true) {
                    <style scoped>
                        span label {
                            display: inline;
                        }
                        span label:after {
                            content: '\a';
                            white-space: pre;
                        }
                    </style>
                }

                @elements.input
        } else {
            <div class="@elements.args.toMap.get('inputDivClass).getOrElse("col-xs-8")">
                @if(elements.input.toString().contains("class=")) {
                    @Html(elements.input.toString().replaceFirst("(class=[\"'])", "$1form-control "))
                } else {
                    @Html(elements.input.toString().replaceFirst("(<\\w+ )", "$1class=\"form-control\" "))
                }
        }
        @*<span class="help-block text-muted">@elements.infos.mkString(", ")</span>*@
        @if(elements.hasErrors) {
            <span class="help-block">@elements.errors.mkString(", ")</span>
        }
        </div>

    </div>
</div>
