@import service.UserService
@import models.User

@(userService: UserService, groups: Map[Boolean, List[User]])

@import helper._
@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapBasic.f) }

@main(userService, Messages("app.title"), "users") {

    @_titlePartial(Messages("app.users.title"))

    @_panelPartial {

        <a class="button" href="mailto:?bcc=@for(user <- groups.flatMap(x => x._2)) {@user.email,}">Email all users</a>

        <h2>Active Users</h2>
        <a class="button" href="mailto:?bcc=@for(user <- groups.get(true)) {@user.email,}">Email all active users</a><br />
        <table class="table table-condensed">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Last Login</th>
                    <th>Role</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            @for(user <- groups.get(true)) {
                <tr>
                    <td>@user.name</td>
                    <td>@user.email</td>
                    <td>@user.lastLogin</td>
                    <td>
                        <ul>
                        @for(role <- user.roles) {
                            <li>@role.roleName</li>
                        }
                        </ul>
                    </td>
                </tr>
            }
            </tbody>
        </table>

        <h2>Inctive Users</h2>

        <table class="table table-condensed">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Last Login</th>
                    <th>Role</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            @for(user <- groups.get(false)) {
                <tr>
                    <td>@user.name</td>
                    <td>@user.email</td>
                    <td>@user.lastLogin</td>
                    <td>
                        <ul>
                        @for(role <- user.roles) {
                            <li>@role.roleName</li>
                        }
                        </ul>
                    </td>
                </tr>
            }
            </tbody>
        </table>


    }

}

